body {
  text-align : center;
}
.main img {
  width : 40%;
  vertical-align: middle;
}
.navi {
  text-align: center;
}
button {
  font-family: 'Yomogi', cursive;
  border-bottom: 5px solid #9f000c;
  font-size: 24px;
  margin: 10px auto;
  border-radius: 100vh;
  top: calc(50% - .5em);
  right: 1rem;
}
.title {
  font-family: 'Yomogi', cursive;
  font-size: xx-large;
  color: #6594e0;
  border-bottom: dashed 2px #6594e0;
}
.thumbnails .selected {
  opacity: 1.0;
}
